h1 {
  background-color: red;
  color: white;

 }



.big { font-size: large; }
.small { font-size: small; }
.conbordes { border: thin solid black; }
.sinbordes {  }

.bgyellow { background-color: yellow;}
.primero { background-color: green;}
